<%-include('../layout/partials/adminHeader')-%>
<div class="d-flex justify-content-center align-items-center flex-column mt-5">
  <div class="add-product">
    <form
      class="card-body form"
      id="createCouponForm"
      action="/coupon/add"
      method="post"
      onsubmit="return validateCreateCouponForm()"
    >
      <h3 class="card-title">Create Coupon</h3>
      <div class="form-group">
        <label for="code" class="card-title">Code</label>
        <input
          type="text"
          id="code"
          name="code"
          class="form-control card-title input"
          autocomplete="off"
          placeholder="Enter coupon code"
          required
        />
      </div>
      <div class="form-group">
        <label for="startingDate" class="card-title">Starting Date</label>
        <input
          type="date"
          id="startingDate"
          name="startingDate"
          class="form-control card-title input"
          required
          min="<%= (new Date()).toISOString().split('T')[0] %>"
        />
      </div>
      <div class="form-group">
        <label for="expiryDate" class="card-title">Expiry Date</label>
        <input
          type="date"
          id="expiryDate"
          name="expiryDate"
          class="form-control card-title input"
          required
          min="<%= (new Date()).toISOString().split('T')[0] %>"
        />
      </div>
      <div class="form-group">
        <label for="discount" class="card-title">Discount ₹</label>
        <input
          type="number"
          id="discount"
          name="discount"
          class="form-control card-title input"
          placeholder="Max ₹ 3000 discount"
          min="0"
          max="3000"
          required
        />
      </div>
      <div class="form-group">
        <label for="status" class="card-title">Status</label>
        <select
          id="status"
          name="status"
          class="form-control card-title input"
          required
        >
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
      <% if(message){ %>
      <div id="msgs" class="alert alert-danger text-center">
        <%= message.message %>
      </div>
      <% } %>
      <button
        type="submit"
        class="btn btn-primary card-details-btn border-0"
        style="width: 100%"
      >
        Create Coupon
      </button>
    </form>
  </div>
</div>

<script>
  function validateCreateCouponForm() {
    const discountInput = document.getElementById("discount");
    const startingDateInput = document.getElementById("startingDate");
    const expiryDateInput = document.getElementById("expiryDate");
    let isValid = true;

    if (parseInt(discountInput.value) < 0) {
      discountInput.classList.add("is-invalid");
      isValid = false;
    } else {
      discountInput.classList.remove("is-invalid");
    }

    const currentDate = new Date().toISOString().split("T")[0];
    if (startingDateInput.value < currentDate) {
      startingDateInput.classList.add("is-invalid");
      isValid = false;
    } else {
      startingDateInput.classList.remove("is-invalid");
    }

    if (expiryDateInput.value < currentDate) {
      expiryDateInput.classList.add("is-invalid");
      isValid = false;
    } else {
      expiryDateInput.classList.remove("is-invalid");
    }

    if (expiryDateInput.value < startingDateInput.value) {
      expiryDateInput.classList.add("is-invalid");
      isValid = false;
    } else {
      expiryDateInput.classList.remove("is-invalid");
    }

    return isValid;
  }
</script>

<%-include('../layout/partials/adminFooter')-%>
