<%- include('../layout/partials/adminHeader') -%>
<div class="d-flex justify-content-center align-items-center flex-column mt-5">
  <div class="update-product add-product">
    <form
      class="card-body form"
      id="updateProductForm"
      action="/product/update/<%= product._id %>"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return validateUpdateProductForm()"
    >
      <h3 class="card-title">Update Product</h3>
      <div class="mb-3">
        <label for="title" class="card-title">Title</label>
        <input
          class="form-control card-title input"
          type="text"
          id="title"
          name="title"
          autocomplete="off"
          placeholder="Title"
          value="<%= product.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="category" class="card-title">Category</label>
        <select
          id="category"
          name="category"
          class="form-control card-title input"
          required
        >
          <% categories.forEach(function(category) { %>
          <option value="<%= category._id %>" <%= category._id === product.category ? 'selected' : '' %>><%= category.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="mb-3">
        <label for="price" class="card-title">Price</label>
        <input
          type="number"
          id="price"
          name="price"
          class="form-control card-title input"
          autocomplete="off"
          placeholder="Price"
          value="<%= product.price %>"
          min="10"
          step="0.01"
          required
        />
      </div>  
      <div class="mb-3">
        <label for="offerPrice" class="card-title">Offer Price</label>
        <input
          type="number"
          id="offerprice"
          name="offerprice"
          class="form-control card-title input"
          autocomplete="off"
          placeholder="Offer Price"   
          value="<%= product.offerprice %>"
          min="0"
          step="0.01"
        />  
        <label for="offerPrice" id="offerPriceLabel" class="card-title">Offer Price (0 - <%= product.price * 0.3 %>)</label>
      </div>
      <div class="mb-3">
        <label for="status" class="card-title">Offer Status</label>
        <select id="status" name="status" class="form-control card-title input" required>
          <option value="active" <% if (product.status === 'active') { %>selected<% } %>>Active</option>
          <option value="inactive" <% if (product.status === 'inactive') { %>selected<% } %>>Inactive</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="description" class="card-title">Description</label>
        <textarea
          id="description"
          name="description"
          class="form-control card-title input"
          rows="4"
          placeholder="Description"
          required
        ><%= product.description %></textarea>
      </div>
      <div class="mb-3">
        <label for="stock" class="card-title">Stock</label>
        <input
          type="number"
          id="stock"
          name="stock"
          class="form-control card-title input"
          autocomplete="off"
          placeholder="Stock"
          value="<%= product.stock %>"
          min="0"
          required
        />
      </div>
      <div class="mb-3">
        <label for="images" class="card-title">Images</label>
        <input
          type="file"
          id="images"
          name="images"
          class="form-control card-title input"
          accept="image/*"
          multiple
        />
      </div>
      <div class="mb-3">
        <label for="deleteImages" class="card-title">Delete Images</label>
        <% product.images.forEach(function(image) { %>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="<%= image %>"
            name="deleteImages"
            value="<%= image %>"
          />
          <label class="form-check-label" for="<%= image %>">
            <%= image %>
          </label>
        </div>
        <% }) %>
      </div>
      <% if (locals.msg) { %>
      <div id="msgs" class="alert alert-danger text-center"><%= msg %></div>
      <% } %>
      <button
        type="submit"
        class="btn btn-primary card-details-btn border-0"
        style="width: 100%"
      >
        Update
      </button>
    </form>
  </div>
</div>

<script>
  const priceInput = document.getElementById("price");
  const offerPriceInput = document.getElementById("offerprice");
  const offerPriceLabel = document.getElementById("offerPriceLabel");

  function updateOfferPricePlaceholder() {
    const price = parseFloat(priceInput.value);
    const maxOfferPrice = price * 0.3;
    offerPriceInput.placeholder = `Offer Price (0 - ${maxOfferPrice})`;
    offerPriceLabel.textContent = `Offer Price (0 - ${maxOfferPrice})`;
  }

  priceInput.addEventListener("input", updateOfferPricePlaceholder);

  function validateUpdateProductForm() {
    const priceInput = document.getElementById('price');
    const offerInput = document.getElementById('offerprice');
    const stockInput = document.getElementById('stock');
    let isValid = true;

    if (parseFloat(priceInput.value) < 0) {
      priceInput.classList.add('is-invalid');
      isValid = false;
    } else {
      priceInput.classList.remove('is-invalid');
    }

    if (parseFloat(offerInput.value) < 0 || offerInput.value > priceInput.value * 0.3) {
      offerPriceInput.classList.add("is-invalid");
      isValid = false;
    } else {
      offerPriceInput.classList.remove("is-invalid");
    }

    if (parseInt(stockInput.value) < 0) {
      stockInput.classList.add('is-invalid');
      isValid = false;
    } else {
      stockInput.classList.remove('is-invalid');
    }

    return isValid;
  }
</script>

<%- include('../layout/partials/adminFooter') -%>
