<%- include('../layout/partials/adminHeader') -%>
<div class="container">
  <div id="app" class="admin-tables">
    <div
      class="d-flex justify-content-center align-items-center flex-column mt-5"
    >
      <p class="h3 text-black">Products List</p>
    </div>

    <!-- Products table -->
    <div class="col-lg-12 col-xs-12">
      <div class="table-responsive userform">
        <% if (message) { %>
        <div
          class="alert alert-dismissible fade show alert-<%= message.type %>"
          role="alert"
        >
          <button
            class="btn-close"
            type="button"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
          <strong><%= message.message %></strong>
        </div>
        <% } %>
        <div class="text-start">
          <a href="/product/add" class="btn btn-primary">Add Product</a>
        </div>
        <% if (products && products.length > 0) { %>
        <div class="table-responsive">
          <table id="example" class="table table-hover text-center my-3">
            <!-- Table header -->
            <thead>
              <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Title</th>

                <th>Price</th>
                <th>Description</th>

                <th>Block/Unblock</th>
                <th>Action</th>
              </tr>
            </thead>
            <!-- Table body -->
            <tbody>
              <% products.forEach((product, index) => { %>
              <tr class="align-middle">
                <td><%= index + 1 %></td>
                <td>
                  <% if (product.images && product.images.length > 0) { %> <%
                  product.images.forEach(image => { %>
                  <img
                    src="/uploads/product/<%= image %>"
                    height="22"
                    width="22"
                    alt="Product Image"
                    class="thumbnail"
                    loading="lazy"
                  />
                  <% }); %> <% } else { %>
                  <img
                    src="/public/images/default-product.jpg"
                    height="22"
                    width="22"
                    alt="Default Product"
                    class="thumbnail"
                    loading="lazy"
                  />
                  <% } %>
                </td>

                <td>
                  <%= product.title %><br />
                  <strong><i class="fa-solid fa-puzzle-piece"></i> :</strong> <%
                  if (product.category) { %> <% const category =
                  categories.find(cat => cat._id.toString() ===
                  product.category.toString()); %> <% if (category) { %> <%=
                  category.name %> <% } else { %>
                  <span>Category not found</span>
                  <% } %> <% } %>
                </td>

                <td>
                  <strong><i class="fa-solid fa-socks"></i> : </strong><%=
                  product.stock %><br /><strong>₹ </strong><%= product.price
                  %><br /><strong><i class="fa-solid fa-tag"></i>Off ₹ </strong
                  ><%= product.offerprice %>
                </td>
                <td>
                  <% if(product.description) { %> <% const productDescription =
                  product.description.length > 70 ?
                  product.description.substring(0, 70) + '...' :
                  product.description; %>
                  <span><%= productDescription %></span>
                  <% } %>
                </td>

                <td>
                  <div class="button-group">
                    <% if (product.view === 'blocked') { %>
                    <form
                      action="/product/unblock/<%= product._id %>"
                      method="POST"
                    >
                      <span class="p-2 blocked-text">Product Blocked</span
                      ><br />
                      <button type="submit" class="btn btn-success">
                        Unblock
                      </button>
                    </form>

                    <% } else { %>
                    <form
                      action="/product/block/<%= product._id %>"
                      method="POST"
                    >
                      <span class="unblocked-text">Unblocked</span><br />
                      <button type="submit" class="btn btn-danger">
                        Block
                      </button>
                    </form>

                    <% } %>
                  </div>
                </td>
                <td>
                  <a
                    href="/product/edit/<%= product._id %>"
                    class="text-success"
                  >
                    <i class="fas fa-edit fa-lg mx-1"></i>
                  </a>

                  <a
                    href="/product/delete/<%= product._id %>"
                    class="text-danger"
                    onclick="return confirm('Are you sure you want to delete this <%= product.title %> product?\n' );"
                  >
                    <i class="fas fa-trash fa-lg mx-1"></i>
                  </a>

                  <% if (product.status=== "active") { %>
                  <span class="badge bg-success">Active</span>
                  <% } else { %>
                  <span class="badge bg-danger">Inactive</span>
                  <% } %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <% } else { %>
        <p class="h5 text-center mt-5">No products found in the database!</p>
        <% } %>
      </div>
      <div class="container">
        <button
          id="downloadPdf"
          class="btn btn-primary border-0 m-3"
          style="
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #c9bc43;
            color: #fff;
            padding: 10px;
            border-radius: 50px;
            text-decoration: none;
            text-align: center;
            transition: background-color 0.3s ease;
          "
        >
          download PDF
        </button>
        <div id="pdfHeader" style="display: none">
          <h5 class="pdf-header">
            <img
              src="/public/images/SOUNDSHOPPIE LOGO.png"
              height="50"
              alt="Logo"
            />Products List
          </h5>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script>
      // Display success message after blocking/unblocking a user
      const successMsg = document.querySelector(".alert-success");
      if (successMsg) {
        setTimeout(() => {
          successMsg.style.display = "none";
        }, 3000);
      }
    </script>
  </div>
</div>
<%- include('../layout/partials/adminFooter') -%>
